@tailwind base;
@tailwind components;
@tailwind utilities;

.heading {
    font-size: 2rem;
    font-weight: 800;
    box-sizing: border-box;
    display: block;
}

.smallHeading {
    font-size: 1.5rem;
    font-weight: 700;
    box-sizing: border-box;
    display: block;
}

.para {
    font-size: 1rem;
    font-weight: 500;
    box-sizing: border-box;
    display: block;
}

.appBg {
    background-color: #E5E4E2;
    overflow: auto;
}

.leagueCard {
    width: 250px;
    height: 105px;
    position: relative;
    border-radius: 5px;
    background-color: #1f2937;
    box-shadow: 0 0 2rem #babbbc;
    margin-top: 25px;
    margin-right: 20px;
    margin-left: 60px;
}

.leagueCardPhoto,


.leagueCardContent {
    box-sizing: border-box;
}

.leagueCardPhoto {
    width: 100px;
    height: 105px;
    border-radius: 50%;
    overflow: hidden;
    border: 5px solid #2F4F4F;
    background-color: #fafafa;
    margin-left: -50px;
    box-shadow: 0 0 0.5rem #babbbc;
}

.leagueCardPhoto img {
    width: 100%;
}

.leagueCardContent {
    padding: 10px;
    overflow: auto;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}


.leagueCardContentText {
    margin-top: 10px;
    margin-left: 50px;
}

.leagueCardContentText h6,











.leagueCardContentText h3 {
    font-weight: normal;
    margin: 3px 0;
    letter-spacing: 0.5px;
    white-space: nowrap;
}

.logo {
    width: auto;
    max-width: 40%;
    height: auto;
    border: 5px solid #2F4F4F;
    border-radius: 5px;
    box-shadow: 0 0 2rem #1f2937;
}

.tableDiv {
    margin: 10px 30px 30px;
    box-shadow: 0px 35px 50px rgba(0, 0, 0, 0.2);
}

.tableElement {
    border-radius: 5px;
    font-size: 12px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
}

.tableElement th,




.tableElement td {
    text-align: left;
    padding: 8px;
}

.tableElement td {
    border-right: 1px solid #f8f8f8;
    font-size: 12px;
}

.tableElement thead th {
    color: #ffffff;
    background: #324960;
}


@media only screen and (max-width: 540px) {
    .tableDiv {
        margin: 5px 0px 0px;
    }

    .tableElement {
        border-radius: 3px;
        font-size: 9px;
    }

    .tableElement th,
    .tableElement td {
        padding: 6px;
    }

    .tableElement td {
        border-right: 0.5px solid #f8f8f8;
        font-size: 9px;
    }
}

@media only screen and (max-width: 370px) {
    .btn-sm {
        font-size: 0.65rem;
    }

    .btn-xs {
        font-size: 0.60rem;
    }

    .leagueCard {
        width: 220px;
    }

    .leagueCardContentText h6,
    .leagueCardContentText h3 {
        font-weight: normal;
        font-size: small;
    }

    .heading {
        font-size: 1.75rem;
    }

    .smallHeading {
        font-size: 1.25rem;
    }

    .para {
        font-size: 0.75rem;
    }

    .tableDiv {
        margin: 5px 0px 0px;
    }

    .tableElement {
        border-radius: 2.5px;
        font-size: 6px;
    }

    .tableElement th,
    .tableElement td {
        padding: 4px;
    }

    .tableElement td {
        font-size: 6px;
    }
}

@media only screen and (max-width: 300px) {
    .btn-sm {
        font-size: 0.50rem;
    }

    .btn-xs {
        font-size: 0.45rem;
    }

    .leagueCard {
        width: 190px;
    }

    .leagueCardContentText h6,
    .leagueCardContentText h3 {
        font-weight: normal;
        font-size: x-small;
    }

    .heading {
        font-size: 1.5rem;
    }

    .smallHeading {
        font-size: 1rem;
    }

    .para {
        font-size: 0.5rem;
    }
}
